.main-content-area {
    .inner-wrap-container {
        max-width: 1024px;
        margin: 36px 15px;
        .inner-wrap {
            background-color: $white;
            border-radius: 8px;
            box-shadow: 0px 20px 40px $shadow-color;
        }
    }
    .page-title {
        margin-bottom: 48px;
    }
}