<footer class="site-footer-wrap" style="background-image: url({{asset "/images/footer-bg.svg"}});">
    <div class="footer-inner">
        {{> custom-links}}
        {{> copyright}}
    </div>
    {{> search-popup}}
    <span class="back-to-top" id="back-to-top">{{> icons/arrow-up}}</span>
</footer>
