{{#if next}}
<div class="text-center">
    <button class="btn btn-rounded btn-primary btn-load-more"><span class="text-default">{{t "Load More post"}}</span><span class="text-disabled">{{t "No more post"}}</span></button>
</div>
{{/if}}