<div class="social-icons-wrap">
    <ul class="social-icons">
        <li><a href="https://www.twitter.com/knowerlittle" target="_blank">{{> icons/twitter}}</a></li>
        <li><a href="https://instagram.com/knowerlittle" target="_blank">{{> icons/instagram}}</a></li>
        <li><a href="https://medium.com/@knowerlittle" target="_blank">{{> icons/medium }}</a></li>
        <li><a href="https://www.linkedin.com/in/knowerlittle/" target="_blank">{{> icons/linkedin}}</a></li>
    </ul>
</div>
