<div class="social-icons-wrap">
    <ul class="social-icons">
        <li><a href="#">{{> icons/twitter}}</a></li>
        <li><a href="#">{{> icons/facebook}}</a></li>
        <li><a href="#">{{> icons/instagram}}</a></li>
        <li><a href="#">{{> icons/linkedin}}</a></li>
    </ul>
</div>
