<div class="custom-links text-center">
    <a href="{{@site.url}}/privacy/">Privacy</a>
    <a href="{{@site.url}}/terms/">Terms</a>
    <a href="{{@site.url}}/about/">About</a>
    <a href="{{@site.url}}/contact/">Contact</a>
</div>